#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#include "../zmk-nodefree-config/helper.h"
#include "includes/settings.dtsi"
#include "includes/behaviours_homerow_mods.dtsi"

#define ___ &trans

#define DEFAULT 0
#define NAV     1
#define SYM     2
#define FUNC    3
#define MEDIA   4
#define MOUSE   5
#define NUM     6
#define GAME    7

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        hs: homerow_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_SHIFT";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
};

/ {

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Default";

            bindings = <
                // ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮    ╭────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┬────────────────────────╮
                      &kp Q                    &kp W                    &kp F                    &kp P                    &kp B                         &kp J                    &kp L                    &kp U                    &kp Y                   &kp SQT
                // ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┤
                      &hm_l LGUI A             &hm_l LALT R             &hm_l LCTL S             &hm_shift_l LSHIFT T     &kp G                         &kp M                    &hm_shift_r RSHIFT N     &hm_r RCTL E             &hm_r RALT I            &hm_r RGUI O
                // ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┤
                      &kp Z                    &kp X                    &kp C                    &kp D                    &kp V                         &kp K                    &kp H                    &kp COMMA                &kp DOT                 &kp FSLH
                // ╰────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────╯
                                                                        &lt MEDIA ESC            &lt NAV SPACE            &lt MOUSE TAB                 &lt SYM RET              &lt NUM BSPC             &lt FUNC DEL
                //                                                   ╰────────────────────────┴────────────────────────┴────────────────────────╯    ╰────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };

        nav_layer {
            label = "Navigation";

            bindings = <
                // ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮    ╭────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┬────────────────────────╮
                      ___                      ___                      ___                      ___                      ___                           &kp K_REDO               &kp K_PASTE              &kp K_COPY                &kp K_CUT              &kp K_UNDO
                // ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┤
                      &kp LGUI                 &kp LALT                 &kp LCTL                 &kp LSHIFT               ___                           &caps_word               &kp LEFT                 &kp DOWN                  &kp UP                 &kp RIGHT
                // ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┤
                      ___                      ___                      ___                      ___                      ___                           &kp INS                  &kp HOME                 &kp PG_DN                 &kp PG_UP              &kp END
                // ╰────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────╯
                                                                        ___                      ___                      ___                           &kp RET                  &kp BSPC                 &kp DEL
                //                                                   ╰────────────────────────┴────────────────────────┴────────────────────────╯    ╰────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };

        
        sym_layer {
            label = "Symbols";

            bindings = <
                // ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮    ╭────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┬────────────────────────╮
                      &kp LBRC                 &kp AMPS                 &kp STAR                 &kp LPAR                 &kp RBRC                      ___                      ___                      ___                      ___                     ___
                // ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┤
                      &kp COLON                &kp DLLR                 &kp PRCNT                &kp CARET                &kp PLUS                      ___                      &kp RSHIFT               &kp RCTL                 &kp RALT                &kp RGUI
                // ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┤
                      &kp TILDE                &kp EXCL                 &kp AT                   &kp HASH                 &kp PIPE                      ___                      ___                      ___                      ___                     ___
                // ╰────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────╯
                                                                        &kp LPAR                 &kp RPAR                 &kp UNDER                     ___                      ___                      ___
                //                                                   ╰────────────────────────┴────────────────────────┴────────────────────────╯    ╰────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };

        func_layer {
            label = "Function";

            bindings = <
                // ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮    ╭────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┬────────────────────────╮
                      &kp F12                  &kp F7                   &kp F8                   &kp F9                   &kp PSCRN                     ___                      ___                      ___                      ___                     ___
                // ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┤
                      &kp F11                  &kp F4                   &kp F5                   &kp F6                   &kp SLCK                      ___                      &kp RSHIFT               &kp RCTL                 &kp RALT                &kp RGUI
                // ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┤
                      &kp F10                  &kp F1                   &kp F2                   &kp F3                   &kp PAUSE_BREAK               ___                      ___                      ___                      ___                     ___
                // ╰────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────╯
                                                                        &kp K_APP                &kp SPACE                &kp TAB                       ___                      ___                      ___
                //                                                   ╰────────────────────────┴────────────────────────┴────────────────────────╯    ╰────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };

        media_layer {
            label = "Media";

            bindings = <
                // ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮    ╭────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┬────────────────────────╮
                      ___                      ___                      ___                      ___                      ___                           ___                      &tog GAME                &kp C_BRI_DN             &kp C_BRI_UP            ___
                // ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┤
                      &kp LGUI                 &kp LALT                 &kp LCTL                 &kp LSHIFT               ___                           ___                      &kp C_PREV               &kp K_VOL_DN             &kp K_VOL_UP            &kp C_NEXT
                // ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┤
                      ___                      ___                      ___                      ___                      ___                           &bt BT_CLR               &bt BT_SEL 0             &bt BT_SEL 1             &bt BT_SEL 2            &bt BT_SEL 3
                // ╰────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────╯
                                                                        ___                      ___                      ___                           &kp C_STOP               &kp C_PP                 &kp C_MUTE
                //                                                   ╰────────────────────────┴────────────────────────┴────────────────────────╯    ╰────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };

        mouse_layer {
            label = "Mouse";

            bindings = <
                // ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮    ╭────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┬────────────────────────╮
                      &bootloader              ___                      ___                      ___                      ___                           ___                      ___                      ___                      ___                     ___
                // ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┤
                      ___                      ___                      ___                      ___                      ___                           ___                      ___                      ___                      ___                     ___
                // ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┤
                      ___                      ___                      ___                      ___                      ___                           ___                      ___                      ___                      ___                     ___
                // ╰────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────╯
                                                                        ___                      ___                      ___                           ___                      ___                      ___
                //                                                   ╰────────────────────────┴────────────────────────┴────────────────────────╯    ╰────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };

        num_layer {
            label = "Number";

            bindings = <
                // ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮    ╭────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┬────────────────────────╮
                      &kp LBKT                 &kp N7                   &kp N8                   &kp N9                   &kp RBKT                      ___                      ___                      ___                      ___                     ___
                // ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┤
                      &kp SEMI                 &kp N4                   &kp N5                   &kp N6                   &kp EQUAL                     ___                      &kp RSHIFT               &kp RCTL                 &kp RALT                &kp RGUI
                // ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┤
                      &kp GRAVE                &kp N1                   &kp N2                   &kp N3                   &kp BSLH                      ___                      ___                      ___                      ___                     ___
                // ╰────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────╯
                                                                        &kp DOT                  &kp N0                   &kp MINUS                     ___                      ___                      ___
                //                                                   ╰────────────────────────┴────────────────────────┴────────────────────────╯    ╰────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };

        
        game_layer {
            label = "Game";

            bindings = <
                // ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮    ╭────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┬────────────────────────╮
                      &kp TAB                  &kp Q                    &kp W                    &kp E                    &kp R                         ___                      &tog GAME                ___                      ___                     ___
                // ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┤
                      &kp LCTL                 &kp A                    &kp S                    &kp D                    &kp F                         ___                      ___                      ___                      ___                     ___
                // ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┤
                      &kp LSHIFT               &kp Z                    &kp X                    &kp C                    &kp V                         ___                      ___                      ___                      ___                     ___
                // ╰────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────╯
                                                                        &kp B                    &kp LCTL                 &kp SPACE                     ___                      ___                      ___
                //                                                   ╰────────────────────────┴────────────────────────┴────────────────────────╯    ╰────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };
    };
};
